In [6]:
#!pip install pymongo[srv]
#!pip install dnspython

Requirement already satisfied: pymongo[srv] in c:\users\bharg\anaconda3\lib\site-packages (3.12.0)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in c:\users\bharg\anaconda3\lib\site-packages (from pymongo[srv]) (1.16.0)

In [15]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://bhargav**:bhargav***@cluster0.anyqdkl.mongodb.net/?retryWrites=true&w=majority")
db = client.test

print(db)

Database(MongoClient(host=['ac-k1blfws-shard-00-02.anyqdkl.mongodb.net:27017', 'ac-k1blfws-shard-00-01.anyqdkl.mongodb.net:27017', 'ac-k1blfws-shard-00-00.anyqdkl.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-21c04i-shard-0', ssl=True), 'test')

In [16]:
db1 = client.test1 #want to create db with name test1

not reflected in databse

In [17]:
db2 = client['bhar'] #want to create db with name bhar

not reflected in databse

In [18]:
client.list_database_names()

['admin', 'local']

these are like database in mysql(db = db)
like tables here collections will be there(tables need schema with datatypes)(table  =  collection)
the records in mysql = documents in mongodb

In [20]:
col1 = db2['bhar_collection'] #want to create collection with name bhar_collection

not reflected in databse

In [28]:
dict1 = {
    "name": "bhargav",
    "email": "bhar@gmail.com",
    "product":['car','bat','ball']
    
}

In [24]:
col1.insert_one(dict1)

reflected in cloud(database) under 'bhar' db, 'bhar_collections' collections : this is called as 1 document (equivalent to single row in mysql table without any specific data type or fixed row length)

In [27]:
dict2 = {
    "name": 123,
    "email": "bhar@gmail.com",
    "product":['car','bat','ball'],
    "phone":75899
}

In [29]:
col1.insert_one(dict2) #insert a document

In [32]:
list1 = [{
    "name": 123,
    "email": "bhar@gmail.com",
    "product":['car','bat','ball'],
    "phone":75899
},
{
    "name": 1234,
    "email": "bhar@gmail.com",
    "product":['car','bat','ball'],
    "phone":75899
},
{
    "name": 123,
    "email": "bhar@gmail.com",
    "product":['car','bat','ball'],
    "phone":75899
}
,{
    "name": 123,
    "email": "bhar@gmail.com",
    "product":['car','bat','ball'],
    "phone":75899
},
{
    "name": 123,
    "email": "bhar@gmail.com",
    "product":['car','bat','ball'],
    "phone":75899
}]

In [33]:
col1.insert_many(list1) #insert multiple documents

In [34]:
col1.find()  #fetch coleection

In [35]:
for i in col1.find():
    print(i) #fetch documents

{'_id': ObjectId('6360fed8d4e6c47cba012bb7'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball']}
{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bba'), 'name': 1234, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [38]:
col1.find({'name':'bhargav'}) #fetch particular data

In [39]:
for i in col1.find({'name':123}):
    print(i)

{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [43]:
for i in col1.find({"name":{"$in":["bhargav", 123,1234]}}):
                   print(i)
        # "$in" is to search complete dataset with name as key and with value given in the lsit

{'_id': ObjectId('6360fed8d4e6c47cba012bb7'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball']}
{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bba'), 'name': 1234, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [44]:
for i in col1.find({"name":{"$in":["bhargav", 123,1234]}, "email":'bhar@gmail.com'}):
                   print(i)

{'_id': ObjectId('6360fed8d4e6c47cba012bb7'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball']}
{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bba'), 'name': 1234, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [51]:
col1.find_one() #gives one document which is on top

{'_id': ObjectId('6360fed8d4e6c47cba012bb7'),
 'name': 'bhargav',
 'email': 'bhar@gmail.com',
 'product': ['car', 'bat', 'ball']}

In [54]:
for i in col1.find({"name":{"$gt":25}}):
    print(i)
    
# $gt is greater than, $gte greater than eqal, $lt, $lte

{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bba'), 'name': 1234, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 123, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [56]:
#update collection or document

col1.update_many({"name":123}, {"$set":{"name":"bhargav"}})

In [57]:
for i in col1.find():
    print(i)

{'_id': ObjectId('6360fed8d4e6c47cba012bb7'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball']}
{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bba'), 'name': 1234, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [58]:
for i in col1.find().limit(3):
    print(i)

{'_id': ObjectId('6360fed8d4e6c47cba012bb7'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball']}
{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [60]:
for i in col1.find({"phone":{'$not':{'$gte':76000}}}):
    print(i)
    
    # not greater than or equal """ observe not operation carefully"""

{'_id': ObjectId('6360fed8d4e6c47cba012bb7'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball']}
{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bba'), 'name': 1234, 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': ['car', 'bat', 'ball'], 'phone': 75899}

In [62]:
col1.find_one_and_update({'name':1234},{"$set":{'product':'good'}})

{'_id': ObjectId('63610381d4e6c47cba012bba'),
 'name': 1234,
 'email': 'bhar@gmail.com',
 'product': ['car', 'bat', 'ball'],
 'phone': 75899}

In [64]:
col1.find_one({'name':1234})

{'_id': ObjectId('63610381d4e6c47cba012bba'),
 'name': 1234,
 'email': 'bhar@gmail.com',
 'product': 'good',
 'phone': 75899}

In [65]:
col1.update_many({'phone':75899},{"$set":{'product':'vgood'}})

In [66]:
for i in col1.find({"product":'vgood'}):
    print(i)

{'_id': ObjectId('636101b5d4e6c47cba012bb8'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': 'vgood', 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bb9'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': 'vgood', 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bba'), 'name': 1234, 'email': 'bhar@gmail.com', 'product': 'vgood', 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbb'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': 'vgood', 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbc'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': 'vgood', 'phone': 75899}
{'_id': ObjectId('63610381d4e6c47cba012bbd'), 'name': 'bhargav', 'email': 'bhar@gmail.com', 'product': 'vgood', 'phone': 75899}

In [ ]:
col1.delete_many('name':'1234')