In [ ]:
import sqlite3

In [ ]:
db = sqlite3.connect('ineuron.db') #craete db file

In [ ]:
ls

In [ ]:
#connect db with local system like could db in mongodb
cursor = db.cursor()

In [ ]:
cursor.execute('create table fsds(name text, batchid int, marks real)')

In [ ]:
ls

In [ ]:
cursor.execute('insert into fsds values("bhargav", 45 , 80 )')

In [ ]:
ls

In [ ]:
cursor.execute('insert into fsds values("bhargav1", 45 , 80 )')

In [ ]:
ls

In [ ]:
cursor.execute('select * from fsds')

In [ ]:
cursor.fetchall()

In [ ]:
data = cursor.execute('select * from fsds')

In [ ]:
for i in data:
    print(i)

db.commit()

In [ ]:
ls

In [ ]:
cursor.execute('insert into fsds values("bhargav1", 45 , 80 )')
cursor.execute('insert into fsds values("bhargav1", 45 , 80 )')
cursor.execute('insert into fsds values("bhargav1", 45 , 80 )')
cursor.execute('insert into fsds values("bhargav1", 45 , 80 )')

In [ ]:
ls

In [ ]:
db.commit()

In [ ]:
ls

In [ ]:
data = cursor.execute('select * from fsds')
for i in data:
    print(i)

In [ ]:
db.close()

In [ ]:
db = sqlite3.connect('ineuron.db')

In [ ]:
cursor = db.cursor()

In [ ]:
cursor.execute('select * from fsds where marks>75')

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute('select name, marks from fsds order by marks')

In [ ]:
cursor.fetchall()

In [ ]:
db.close()

In [ ]:
person = sqlite3.connect('person.db')

In [ ]:
c = person.cursor()

In [ ]:
c.execute('create table person_table(name text , emial text, age int, salary real)')

In [ ]:
c.execute('insert into person_table values("sudh","@gmail.com",45,8781540.4)')
c.execute('insert into person_table values("shudh","@yahoo.com",45,8781540.4)')

In [ ]:
ls

In [ ]:
c.execute('select * from person_table')

In [ ]:
c.fetchall()

In [ ]:
person.commit()

In [ ]:
person.close()

In [ ]:
db = sqlite3.connect('ineuron.db')

In [ ]:
c = db.cursor()

In [ ]:
c.execute('drop table fsds')

In [ ]:
c.execute('select * from fsds')

In [ ]:
ls

In [ ]:
c.execute('drop database ineuron.db')

In [ ]:
db.close()

In [ ]:
db = sqlite3.connect('person.db')

In [ ]:
c= db.cursor()

In [ ]:
data = c.execute('select * from person_table limit 1')

In [ ]:
for i in data:
    print(i)

In [ ]:
data = c.execute('select * from person_table limit 2')

In [ ]:
for i in data:
    print(i)

In [ ]:
db.close()

In [ ]:
db = sqlite3.connect('join.db')

In [ ]:
c= db.cursor()

In [ ]:
c.execute('create table table1 (studentid int, studentname text, studentmail text, marks int)')

In [ ]:
c.execute('create table table2 (studentid int, pincode int, location text, nearby text, phone int)')

In [ ]:
c.execute('insert into table1 values(45,"bhargav","@gmail", 87)')

In [ ]:
c.execute('insert into table1 values(46,"bhargav","@yahoo", 85)')
c.execute('insert into table1 values(47,"bhargav0","@gmail", 77)')
c.execute('insert into table1 values(48,"bhargav1","@gmail", 67)')
c.execute('insert into table1 values(49,"bhargav2","@gmail", 87)')

In [ ]:
c.execute('insert into table1 values(468,"bhargav","@yahoo", 85)')
c.execute('insert into table1 values(4784,"bhargav0","@gmail", 77)')
c.execute('insert into table1 values(48584,"bhargav1","@gmail", 67)')
c.execute('insert into table1 values(4974848,"bhargav2","@gmail", 87)')

In [ ]:
c.execute('insert into table2 values(45,560000, "amity", "temple",984494)')
c.execute('insert into table2 values(486,560001, "amiy", "temple",98458494)')
c.execute('insert into table2 values(498,560002, "amty", "teple",98449644)')
c.execute('insert into table2 values(48,560003, "aity", "temple",98449441)')
c.execute('insert into table2 values(49,560004, "mity", "tmple",98449454)')

In [ ]:
c.execute('insert into table2 values(455,560000, "amity", "temple",984494)')
c.execute('insert into table2 values(467,560001, "amiy", "temple",98458494)')
c.execute('insert into table2 values(47656,560002, "amty", "teple",98449644)')
c.execute('insert into table2 values(4881,560003, "aity", "temple",98449441)')
c.execute('insert into table2 values(49169,560004, "mity", "tmple",98449454)')

In [ ]:
c.execute('select * from table1 s left join table2 a on s.studentid =a.studentid')

In [ ]:
c.fetchall()

In [ ]:
c.execute('select * from table1 s right join table2 a on s.studentid =a.studentid')

In [ ]:
c.fetchall()

In [ ]:
for i in c.execute('select * from table1'):
    print(i)

In [ ]:
c.execute('delete from table1 where studentid >470')

In [ ]:
c.fetchall()

In [ ]:
for i in c.execute('select * from table1'):
    print(i)

In [ ]:
c.execute("update table1 set studentid = 500 where studentid>47")

In [ ]:
c.fetchall()

In [ ]:
c.execute('select * from table1')

In [ ]:
c.fetchall()

In [ ]:
db.close()

# Map, Reduce, Filter

In [8]:
l =[1,2,3,4,58,8]

In [ ]:
l1 = []
for i in l:
    l1.append(i+5)

In [6]:
l1

['4984', '684', '646', '5941']

In [9]:
[i+5 for i in l]

[6, 7, 8, 9, 63, 13]

In [ ]:
def test(a):
    return a+5

In [ ]:
#mapping

map(test,l)

In [ ]:
list(map(test,l))

In [ ]:
def test1(a):
    return a*88946+5+48

In [ ]:
list(map(test1,l))

In [1]:
l1 = ['4984','684','646','5941']
#covert into int type

In [2]:
def str2int(a):
    return int(a)

In [ ]:
list(map(str2int,l1))

In [5]:
list(map(lambda x:int(x), l1))

[4984, 684, 646, 5941]

In [4]:
list(map(lambda x:x+5,l))

TypeError: can only concatenate str (not "int") to str

In [ ]:
l = [4,5,6,897,8787,878]

In [ ]:
def test2(a):
    if a%2 == 0:
        return a

In [ ]:
list(map(test2, l))

In [ ]:
[i for i in l if i%2 == 0]

In [ ]:
#filter
list(filter(test2,l))

In [ ]:
list(filter(lambda x: x%2 ==0,l))

In [ ]:
list(filter(lambda x: x+5,l))

In [ ]:
# reduce function 
from functools import reduce

In [ ]:
l = [2,3,5,589,87,584]

In [ ]:
sum(l)

In [ ]:
def test3(a,b):
    return a+b

In [ ]:
reduce(test3,l)

In [ ]:
def test4(a,b):
    return a*b

In [ ]:
reduce(test4,l)

In [ ]:
def test3(a,b,c):
    return a+b+c

In [ ]:
reduce(test3,l)

In [ ]:
def test3(a,b):
    return a+b

In [ ]:
l=[4]

In [ ]:
reduce(test3,l) #exception case when list have only one element

In [ ]:
reduce(test4,l)

In [ ]:
l = []

In [ ]:
reduce(test3,l)

In [ ]:
l = [2,3,5,589,87,584]

In [ ]:
reduce(lambda x,y: x+y, l)

In [ ]:
reduce(lambda x,y: x*y, l)

In [ ]:
reduce(lambda x,y: x/y, l)

In [ ]:
l = [1,2,3,4,5,9,89]

In [ ]:
l1 = [4,9,479,9,9,1,9,7,8]

In [ ]:
list(zip(l,l1))

In [ ]:
l2= ['kilada','bhargav','hcahsiun','killada']

In [ ]:
list(zip(l,l1,l2))

In [ ]:
"""Task:
    1. take bag of words dataset (download last 5 text files)
    2. try to find out a count of each and every word in a respective file return a lsit of tuple with word and its respective count
            [('sudh',6),("kumar",4)]
    3. try to perform reduce operation to get a count of all the word starting with same alphabet
         sample example: [('a',56),('b',89)]
    4. trt to filter out all the words from dataset without any punctuations
    5. create a tuple set of all the records avilable in all the five files and then store it in sqlite DB"""

In [16]:
print(lambda i:i for i in range(10))

<generator object <genexpr> at 0x000001ED49F7DC10>

In [18]:
print(lambda x: [print(i) for i in x])

<function <lambda> at 0x000001ED49F7CB80>